* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background: #fff;
}
.tet{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #BF7130;
    margin: 0px 0px, 10px 0px;
}

.logo{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

.logo:hover{
    color: #00D1D1;
}

nav ul li{
    position: relative;
    float: left;
}

.clause{
    padding: 15px;
    color: #fff;
    font-size: 16px;
    display: block;
}

.clause:hover{
    color: #00D1D1;
}

nav ul li ul{
    position: absolute;
    color: #00D1D1;
    width: 135px;
    background: #000;
    display: none;
    border-radius: 10px 10px 10px 10px;
    border-width: 3;
    border-color: #fff;
    border: 2px solid #BF7130;
}

nav ul li ul li{
    width: 100%;
    display: block;
    text-align: center;
}

nav ul li ul li:hover{
    color: #FF7400;
}

nav ul li:hover > ul {
    display: initial;
}

.button {
    border-radius: 8px;
    font-size: 13px;
    color:#fff;
    padding: 5px 14px;
    background-color: #000;
    border: 2px solid #fff;
}

.button_1 {
    border-radius: 8px;
    font-size: 13px;
    padding: 5px 14px;
    background-color: #00CED1;
    border: 2px solid #00CED1;
}

.button:hover{
    background-color: #fff;
    color: #000;
}

.button_1:hover{
    background-color: #FF7400;
    border: 2px solid #FF7400;
}

.content{
    width: 600px;
    min-height: 0px;
    display: block;
    margin: 0px 0px 20px 0px;
    background: #BF7130;
    position: relative;
    left: 50%;
    top: 150px;
        
}

.content h1{
    word-wrap: break-word;
    text-align: center;
}

.content p{
    word-wrap: break-word;
}




